<title>Foro</title>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<p id="username" hidden>{{userlogged.name}}</p>
<container class="menus">
  <div class="row">
    <div class="col-sm">
      <div id="posts" class="list-group" style="color: white;padding-left: 120px;width: 1300px;">
        <div class="container">
          <div class="row" style="width: 700px;padding-top: 30px">
            <div class="col-sm" style="padding-left: 0cm;">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filtrar por tipo
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/articuloseinstalaciones/articuloseinstalaciones/1/Todos">Todos</a>
                  <a class="dropdown-item"
                    href="/articuloseinstalaciones/articuloseinstalaciones/1/Articulos">Articulos</a>
                  <a class="dropdown-item"
                    href="/articuloseinstalaciones/articuloseinstalaciones/1/Instalaciones">Instalaciones</a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <h5 class="card-title" style="padding-left: 150px;color: white;">{{filter}} - Ofertas</h5>
            </div>
          </div>
        </div>
        <div class="row" id="articuloseintalaciones" style="width: 1250px;">
          {{#each ofertas}}
          <div class="col" style="margin-left: 20px;">
            <div class="card card-cascade card-ecommerce narrower"
              style="width: 400px;height:400px;background-color: #343a40;">
              <div class="view view-cascade overlay">
                <img class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(5).jpg" alt=""
                  style="width: 400px; height: 200px">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><strong><a href="/articuloseinstalaciones/iroferta/{{id}}">{{title}}</a></strong>
                </h4>
                <p class="card-text"> {{description}}</p>
                <div class="row">
                  <div class="col">
                    <span class="float-left" style="padding-top: 10px;">Precio de reserva: ${{price}}</span>
                  </div>
                  <div class="col">
                    <a type="button" class="btn btn-info">Añadir al carrito</a>
                  </div>
                </div>
              </div>
              <a type="button" class="btn btn-info" href="/articuloseinstalaciones/iroferta/{{id}}">Ver más
                información</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div id="recientesyboton" class="col-sm" style="padding-top: 70px;margin-left: 900px;">
      <div class="row">
        <div class="row" style="padding-top: 10px;">
          <div class="card" style="width: 389px;">
            <div class="card-body" style="background-color: #343a40;">
              <h5 class="card-title" style="text-align: center;color: white;">Categorías</h5>
              <ul class="list-group list-group-flush" style="color:white">
                <li class="list-group-item" style="background-color: #343a40;color:white;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline1">
                    <label class="custom-control-label" for="defaultInline1"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Todos">Seleccionar todos</a></label>
                  </div>
                </li>
                <li class="list-group-item" style="background-color: #343a40;color:white;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline2">
                    <label class="custom-control-label" for="defaultInline2"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Futbol">Fútbol</a></label>
                  </div>
                </li>
                <li class="list-group-item" style="background-color: #343a40;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline3">
                    <label class="custom-control-label" for="defaultInline3"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Tenis">Tenis</a></label>
                  </div>
                </li>
                <li class="list-group-item" style="background-color: #343a40;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline4">
                    <label class="custom-control-label" for="defaultInline4"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Basquet">Basquet</a></label>
                  </div>
                </li>
                <li class="list-group-item" style="background-color: #343a40;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline5">
                    <label class="custom-control-label" for="defaultInline5"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Meprecio">Menor precio</a></label>
                  </div>
                </li>
                <li class="list-group-item" style="background-color: #343a40;border-color: white;">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline6">
                    <label class="custom-control-label" for="defaultInline6"><a href="/articuloseinstalaciones/articuloseinstalacionescategory/1/Maprecio">Mayor precio</a></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</container>
<nav aria-label="..." style="padding-left: 40%;padding-top: 30px;">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link" style="color: snow;background-color: #343a40;">Anterior</span>
    </li>
    <li id="rosterButton1" class="page-item active"><a class="page-link" href="foro/goToPage/"
        style="color: snow;background-color: #343a40;">1</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: snow;background-color: #343a40;">2</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: snow;background-color: #343a40;">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" style="color: snow;background-color: #343a40;">Siguiente</a>
    </li>
  </ul>
</nav>
<script>
  $(document).ready(function () {
    $('.toast').toast('show');
  });

</script>